.form__field:required {
  border-color: red;
}

.form__button {
  width: 50%;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 11px;
  margin: 20px;
  border-radius: 5px;
}

.form__button:hover {
  background-color: hsl(246, 71%, 60%);
}

.form__button:active {
  background-color: hsl(246, 71%, 35%);
}