.form {
  display: grid;
  grid-template: repeat(4, 1fr) / 150px 200px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
}

.form__input {
  margin: 5px;
}

.form__ammount {
  padding: 5px;
  width: 200px;
}

@media (max-width: 400px) {
  .form__ammount {
    margin: 5px 0 10px 0;
  }
}

.form__ammount:required {
  border-color: red;
}

.form__select {
  margin: 5px;
}

.select {
  padding: 5px;
  width: 200px;
}

@media (max-width: 400px) {
  .select {
    margin: 5px 0 10px 0;
  }
}

.form__button {
  border: none;
  background-color: hsl(180, 100%, 25%);
  color: white;
  padding: 11px;
  margin: 10px;
  border-radius: 5px;
  grid-area: 4 / span 2;
  width: 100%;
}

.form__button:hover {
  background-color: hsl(180, 100%, 65%);
}

.form__button:active {
  background-color: hsl(180, 100%, 35%);
}
