html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-basis: 700px;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-image: url("./image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  overflow: auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}